<div class="container lg-12"> 
    <div class="card">
        <div class="card-header bg-dark">
            <h5>{{post.title}}</h5>
            <h5>Posted by {{post.username}} on {{format_date post.created_at}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">{{post.article}}</p>
            <form class="comment-form">
                <div>
                    <textarea style="width: 100%" name="comment-body" placeholder="Comment here!"></textarea>
               
                <button class="btn btn-secondary" type="submit">submit</button>
                 </div>
            </form>
        </div>
    </div>
</div>
<div class="comments">
  {{#each post.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>




{{!-- {{#if loggedIn}}   --}}
<script src="/javascript/comment.js"></script>

 {{!-- {{/if}} --}}